@import url('https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root{
  --main-color:#1f1f1f;
  --color-dark:#fff;
  --text-grey:#fa2d48;
}

*{
  font-family: 'Montserrat',sans-serif;
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar{
  height: 100%;
  width: 240px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y:auto ;
  border-right: thin groove  #ffffff46;
  border-width: 1.3px;
}

.sidebar-header{
  display: flex;
  align-items: center;
  height: 70px;
  padding:0rem 1rem;

}

.sidebar-header-content{
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 6px;
}

.sidebar-menu{
  padding: 1.2rem;
}

.sidebar-footer{
  background-color: #1f1f1f;
  display: flex;
  position:absolute;
  height: 140px;
  width: 100%;
  padding: 1.2rem;
  left: 0;
  bottom: 0;
}

.sidebar-footer-layer{
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  border-top: thin groove  #ffffff46;
}

.credit{
  padding-top: 10px;
  font-weight: bolder;
}

.Follow {	  background:url("https://avatars.githubusercontent.com/u/79801291?s=460&u=76134d4d9977dceb773f594f57b36289b86db9b8&v=4")no-repeat center / contain;
	width: 50px;
	height: 50px;
  margin-top: 10px;
  left: 42px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
}

.Follow2 {	  background:url("https://avatars.githubusercontent.com/u/70689480?s=460&u=81e9caf6d8be6742a3bd4bcf705ae664c02a9c2e&v=4")no-repeat center / contain;
	width: 50px;
	height: 50px;
  margin-top: 10px;
  left: 145px;
	display:block;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:  rotation 10s infinite linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.sidebar li{
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.sidebar a {
  color:#fff;
  font-size: 1rem;
}


.sidebar a:hover{
  color: var(--text-grey);
  
}

.sidebar a span:last-child{
  padding-left: .6rem;
}

.main-content{
  position: relative;
  margin-left: 240px;
}


header{
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background:rgba(0, 0, 0, 0.7);
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.8s ease-out;
}

.nav-scrolled{
  background: var(--text-grey);
  transition: 0.8s ease-in;
}

.search-wrapper{
  display: flex;
  align-items: center;
  color: #fff;
}

.search-wrapper input{
  border:0;
  outline: 0;
  padding: 0.9rem;
  margin-left: 6px;
  height: 35px;
  width: 400px;
  border-radius: 2rem;
}

.social-icons{
  display: flex;
  align-items: center;
  color: #fff;
}

.social-icons span,
.social-icons div{
  margin-left: 1.3rem;
}

.social-icons div{
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(https://api.time.com/wp-content/uploads/2017/12/terry-crews-person-of-year-2017-time-magazine-2.jpg?w=800&quality=85) ;
  border-radius: 50%;
}

.header-content{
  background: linear-gradient(to bottom,var(--text-grey),var(--main-color));
  height: 450px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-size: auto 450px;
  background-attachment: fixed;
  margin-bottom: -150px;
}


.header-content h5{
  font-size: 55px;
  color: #fff;
  font-weight: bold;
  padding: 10rem 0 1rem 0 ;
  position:relative;
}


.header-content h3{
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
}

.dash-cards-circle, .dash-cards-small,.dash-cards-title, .dash-title, .dash-title1 {
  margin-left: 3rem;
  margin-right: 3rem;
}



main{
  background: var(--main-color);
}

span{
  user-select:none;
}

i{
  user-select: none;

}

h3,h3,h5{
  user-select: none;
}

div{
  user-select: none;
}

.dash-title{
  color:var(--color-dark);
  margin-bottom: 2rem;
  border-bottom: thin groove  #ffffff46;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dash-title1{
  color:var(--color-dark);
  margin-bottom: 2rem;
  height:40px;
  display: flex;
  align-items: center;
  border-bottom: thin groove  #ffffff46;
}

.dash-title1 h2{
  margin: 1rem;
  height: 40px;
}

.dash-title1 h2:hover{
  margin: 1rem;
  height: 40px;
  border-bottom: thin groove var(--text-grey);
  cursor: pointer;
}


.see-all {
  color:#fff;
  font-size: 16px;
  position: relative;
}


.see-all::after{
  content:"";
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--text-grey);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.see-all:hover::after{
  transform: scaleX(1) ;
  transform-origin: left;
}

.dash-cards-title{
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-gap: 1rem;
  margin-bottom: 40px;
}

.dash-cards-small{
  display: grid;
  grid-template-columns: repeat(7,1fr) ;
  grid-gap: 1rem;
  margin-bottom: 40px;
}

.dash-cards-circle{
  display: grid;
  grid-template-columns: repeat(5,1fr) ;
  grid-gap: 8rem;
  margin-bottom: 40px;
}

.card-single{
  background:rgba(0, 0, 0, 0);
  border-radius: 0.3rem;
  width: 100%;
  height: 290px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-circle{
  background:#fff;
  width: 200px;
  height: 200px;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  cursor: pointer;
  
}

.card-title{
  background:rgba(0, 0, 0, 0);
  border-radius: 0.3rem;
  height: 490px;
  width: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card{
  width: 95%;
  height: 95%;
	position: flex;
	background:(0,0,0,0) ;
	text-align: left;
}

.card h4 {
    color: #b3b3b3;
    overflow: hidden;
}

.card-small{
  width: 90%;
  height: 90%;
	position: flex;
	background:(0,0,0,0) ;
	text-align: left;
  overflow: hidden;
}

.card-small h5{
  color:#b3b3b3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.card-single img{
  height: 70%; 
  width: 100%; 
  z-index: 999;
  object-fit: cover; 
  border-radius: 0.6rem;
  margin-bottom: 10px;
}

.card-title img{
  width:100%;
  height:80%;
  margin-bottom:10px ;
  z-index: 999;
  border-radius: 0.6rem;
}

.card-circle img{
  width:100%;
  height:100%;
  border-radius: 50%;
  z-index: 999;
  object-fit: cover;
}

.card-single:hover .overlayer-single {
	background: rgba(83, 82, 82, 0.2);
}

.card-title:hover .overlayer {
	background: rgba(83, 82, 82, 0.2);
}


.card-circle:hover .overlayer-circle {
	visibility: visible;
  border-radius:50%;
}

.card-single .overlayer-single {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background:rgba(58, 56, 56, 0.1);
	text-align: center;
  border-radius: 0.3rem;
  z-index: 100;
}

.card-title .overlayer {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background:rgba(58, 56, 56, 0.1);
	text-align: center;
  border-radius: 0.3rem;
  z-index: 100;
}

.card-circle .overlayer-circle {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background:linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.3)) ;
	text-align: center;
	visibility: hidden;
  z-index: 100;
}

.overlayer .material-icons:nth-of-type(1){
	color: rgba(255,255,255,0.3);
  opacity: 0.5;
  position: absolute;
  margin-top: 448px;
  right: 35px;
	font-size: 35px;
	transition: 250ms ease-in-out;
}

.overlayer-single .material-icons:nth-of-type(1){
	color: rgba(255,255,255,0.3);
  opacity: 0.5;
  position: absolute;
  margin-top: 250px;
  right: 16px;
	font-size: 28px;
	transition: 250ms ease-in-out;
}


.overlayer-single .material-icons:nth-of-type(2){
	color: rgba(255,255,255,0.5);
  opacity: 0.5;
  position: absolute;
  margin-top: 250px;
  left: 16px;
	font-size: 28px;
	transition: 250ms ease-in-out;
}

.overlayer-circle .material-icons{
	color: rgba(255,255,255,0.3);
  opacity: 0.5;
  position: flex;
	font-size: 50px;
  margin-top:70px;
	transition: 250ms ease-in-out;
}


.material-icons:hover{
  transform: scale(1.4);
  opacity: 1 !important;
  color: var(--text-grey) !important;

}

.content{
  color: #fff;
  font-weight: bold ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 200px;
  position: relative;
}

.card .content{
  color: #fff;
  font-weight: bold ;
  font-size:20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 400px;
  position: relative;
}

.overlayer .material-icons:nth-of-type(2){
	color: rgba(255,255,255,0.5);
  opacity: 0.5;
  position: absolute;
  margin-top: 448px;
  left: 35px;
	font-size: 35px;
	transition: 250ms ease-in-out;
}


@media only screen and (max-width:1200px){
  .dash-cards-title{
    grid-template-columns: repeat(1,1fr);
  }

  .dash-cards-small{
    grid-template-columns: repeat(4,3fr);
  }

  .dash-cards-circle{
    grid-template-columns: repeat(2,1fr);
  }

}


@media only screen and (max-width:800px){
  .dash-cards-small{
    grid-template-columns: repeat(2,1fr);
  }
}



@media only screen and (max-width:600px){
  .dash-cards-small{
    grid-template-columns: repeat(1,1fr);
  }

  .dash-cards-circle{
    grid-template-columns: repeat(1,1fr);
  }
}



.logo{
  height: 40px;
}



::-webkit-scrollbar{
  width: 2px;
}

::-webkit-scrollbar-track{
  background:var(--main-color);
}

::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0.5);
  border-radius: 3rem;
}

.extra{
  height:80px;
}

.footer{
  position:fixed;
  bottom:0;
  height:55px;
  width: 100%;
}

.list-view{
  display: flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  width: 100%;
  height:100%;
}

.list-title {
  height:70px;
  background-color: transparent;
  display:flex;
  color: #fff;
  border-bottom: thin groove  #ffffff46;
}

.list-title > .number{
  line-height:70px;
  text-align:left;
  width:60px;
  margin-left:0.7rem;
}

.list-title > .song{
  width:600px;
  line-height: 70px;
  text-align:left;
}

.list-title > .album{
  width:500px;
  line-height: 70px;
  text-align:left;
}

.list-title > .artist{
  width:400px;
  line-height: 70px;
  text-align:left;
}

.list-title > .time{
  width:60px;
  margin-right:0.7rem;
  line-height:70px;
  text-align: right;
}


.list-item {
  height:60px;
  background-color: transparent;
  display:flex;
  border-radius: 0.3rem;
  color: #fff;
}

.list-item:hover {
  background-color: hsla(0,0%,100%,.1);
}

.list-item > .list-view-number{
  line-height:60px;
  text-align:left;
  width:40px;
  margin-left:0.7rem;
}

.list-view-number {
  visibility:hidden;
  cursor:pointer;
}

.list-item:hover  .list-view-number{
  visibility:visible;
}


.list-view-img{
  height:60px;
  width: 60px;
  display:flex;
  margin-right: 0.3rem;;
}

.list-item > .list-view-song{
  width: 550px;
  line-height:60px;
  text-align:left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
.list-item > .list-view-album{
  width: 500px;
  line-height:60px;
  text-align:left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.list-item > .list-view-artist{
  width: 400px;
  line-height:60px;
  text-align:left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.list-item > .list-view-duration{
  width: 60px;
  line-height:60px;
  text-align:right;
  margin-right: 0.7rem;
}

.list-view-song img {
  height:50px;
  width:50px;
  margin-right:0.5rem;
}


